{% extends "base.html" %}
{% load reddit_extra %}
{% block title %}글목록{% endblock %}

{% block content %}
<a href="{% url 'reddit:addPost' %}">새글쓰기</a>
    {% for post in posts %}
        <div class="post-wrapper">
            <a href="{% url 'reddit:detail' pk=post.id %}">추천수 : {{ post.vote_sum }} / 제목 : {{ post.title }} / 작성자 : {{ post.created_by.username }} / 작성시간 : {{ post.pub_date | custom_time }}</a>
            <form>
                <button onclick="up({{ post.id }})">Up</button>
                <button onclick="down({{ post.id }})">Down</button>
            </form>
        </div>
    {% endfor %}
{% endblock %}

{% block script %}
    function up(pk){
        {% if request.user.is_authenticated %}
        $.post('../'+pk+'/rate/', {'val':1});
        {% else %}
            alert('x');
        {% endif %}
    }
    function down(pk){
        {% if request.user.is_authenticated %}
        $.post('../'+pk+'/rate/', {'val':-1});
        {% else %}
            alert('x');
        {% endif %}
    }
{% endblock %}
